/* color variables for easier to remember names */
:root {
  --primary: white;
  --secondary: black;
  --pop: #f8f6f6;
}

/* remove default CSS styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general settings for all body styling */
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  color: var(--primary);
  background-color: var(--secondary);
}

/* header styling start */
header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}



header h1 {
  color: var(--secondary);
  font-size: 60px;
  font-weight:100;
}

header a {
  text-decoration: none;
  color: var(--secondary);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
 
}

header nav {
  margin: 20px;
}

header nav ul li a {
  padding: 8px;
  font-size: 28px;
  margin: 20px 20px 0 0;
  font-weight:100;
}

header nav ul li a:hover {
  background: var(--pop);
  color: var(--primary);
  border-radius: 15px;
}

/* header styling end */



.intro {
  background-image: url("./light-abstract-black-and-white-architecture-sky-white-449062-pxhere.com.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.intro img {
  height: 370px;
  width: 310px;
}

.intro .quote {
  text-align:justify style;
  background-color:rgba(255, 255, 255, 0.868);
border-radius:4px;
padding:15px;
margin:5px;
}


.intro .quote {
  font-size: 35px;
  display: flex;
  justify-content: end;
  text-align: right;
  color: black;
  font-weight: lighter;

}

.intro .quote #quote-text {
  font-size: 48px;
}
/* hero styling end */

/* utility class styling start */
.title {
  border-right: 5px solid var(--pop);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

.title h2 {
  font-size: 48px;
  font-weight: 100;
}

/* utility class styling end */

/* about me section styling start */
.about-me h2 {
color: black;
}

.about-me {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 20px;
  background-color: white;
}

.about-me p {
  font-size: 25px;
  padding: 0 30px;
  line-height: 1.6;
  width: 90%;
  color: var(--secondary);
}
/* about me section styling end */

.skills h2 {
  color: black;
  }
  
 .skills {
  background-color: white;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 20px;
 }
  
 .skills ul{
  font-size: 25px;
  padding: 0 300px;
  line-height: 1.6;
  color: black;
 } 




/* my work section styling start */
.my-work {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
}

.my-work h2 {
  color: var(--secondary);
}

.projects-grid-wrapper {
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.projects-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.project {
  border: solid;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  
}

.project:hover {
  opacity: 3.0;
}

.refactoring {
  /*grid-column: 1/3;
  grid-row: span 2;*/
  background-image: url("./Image\ 10-23-22\ at\ 4.47\ PM.jpg");
  opacity: 80%;
}

.project-generator {
  background-image: url("./javascript-password\ generator.png");
  background-position: 50% 15%;
  opacity: 80%;
}

.coding-quiz{
  background-image: url("./web-api-coding\ quiz.png");
  background-position: 60% 50%;
  opacity: 80%;
}

.planner {
  background-image: url("./Third-Party\ APIs\ \ Work\ Day\ Scheduler.png");
  opacity: 80%;
}

.travel-planner {
  background-image: url("./Server\ side\ API.png");
  opacity: 80%;
}

.mvc {
  background-image: url("https://user-images.githubusercontent.com/114713151/217123001-fd5935c2-e8b7-43d4-b263-9dfcbd139287.png");
  opacity: 80%;
}

.Booksearch-MERN {
  background-image: url("./booksearch.png");
  opacity: 80%;
}

.scoresocial {
  background-image: url("./scoresocial.png");
  opacity: 80%;
}


.project-label {
  /*background-color: var(--secondary);*/
  background-color: darkgray;
  color: var(--primary);
  padding: 10px;
  opacity: 100%;
}
/* my work section styling end */

/* contact me section styling start */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 30px;
}

.content-wrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-options {
  width: 60%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  font-weight: 100;
}

footer ul li {
  /*padding-bottom: 15px;*/
  font-weight: 100;

}

footer ul li a {
  text-decoration: none;
  color: var(--primary);
  padding: 8px;
  font-weight: 100;
}

footer ul li a:hover {
  background: var(--pop);
  color: var(--secondary);
  border-radius: 15px;
}
/* contact me section styling end */

/* MEDIA QUERY FOR TABLET SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
  .intro .quote {
      font-size: 28px;
      padding-right: 20px;
  }
  
  .intro .quote #quote-text {
      font-size: 35px;
  }

  .title h2 {
      font-size: 35px;
  }

  .about-me p {
      font-size: 16px;
      /*padding: 0 15px;*/
      line-height: 1.6;
  }
}

/* MEDIA QUERY FOR MOBILE PHONE SCREENS AND SMALLER */
@media screen and (max-width: 575px) {
  header {
      justify-content: center;
      padding: 20px;
  }

  header nav ul {
      min-height: 80px;
  }

  .intro {
      flex-direction: column;
  }

  .about-me {
      flex-direction: column;
  }

  .title {
      border-bottom: 5px solid var(--pop);
      border-right: none;
      text-align: center;
      min-width: 100%;
      max-width: 100%;
      padding: 0;
  }

  .about-me p {
      font-size: 16px;
      line-height: 1.6;
      width: 100%;
      padding: 15px;
  }

  .my-work {
      flex-direction: column;
      padding: 30px 0;
  }

  .projects-grid-wrapper {
      width: 100%;
      padding: 10px;
  }
  
  .projects-grid {
      width: 80%;
  }

  footer {
      flex-direction: column;
  }

  footer ul {
      flex-direction: column;
  }

  .content-wrapper {
      width: 100%;
  }

  footer ul li {
      padding: 10px;
      text-align: center;
  }
  
}