body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  background-color: black;
  color: #fff;
}

.name {
color: turquoise;
font-size: 52pt;
}
h1 {
  font-size: 40pt;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
  background-color: black;
  color: white;
  text-align: left;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  font-size: 16pt;
  list-style: none;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1700px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 1%;
}

article {
  border-bottom: 1px solid turquoise;

}

article p {
  margin: 2 0;
  font-size: 17pt;
  text-align: left;
  color: white;
  margin-right: 200px;
}

aside {
  width: 15%;
}

.professionalheadshot {
max-width: 300px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: black;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

}